@font-face {
  font-family: "RedHat";
  src: url("/fonts/RedHatDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.text-preset-1 {
  font-family: "RedHat", sans-serif;
  font-size: 22px;
  line-height: var(--line-height-165);
  letter-spacing: var(--letter-spacing-0);
  font-weight: 900;
}

.text-preset-2 {
  font-family: "RedHat", sans-serif;
  font-size: 16px;
  line-height: var(--line-height-165);
  letter-spacing: var(--letter-spacing-0);
  font-weight: 900;
}

.text-preset-3-black {
  font-family: "RedHat", sans-serif;
  font-size: 16px;
  line-height: var(--line-height-165);
  letter-spacing: var(--letter-spacing-0);
  font-weight: 900;
}

.text-preset-3-bold {
  font-family: "RedHat", sans-serif;
  font-size: 16px;
  line-height: var(--line-height-165);
  letter-spacing: var(--letter-spacing-0);
  font-weight: 700;
}

.text-preset-3-medium {
  font-family: "RedHat", sans-serif;
  font-size: 16px;
  line-height: var(--line-height-165);
  letter-spacing: var(--letter-spacing-0);
  font-weight: 500;
}

.text-preset-4-black {
  font-family: "RedHat", sans-serif;
  font-size: 15px;
  line-height: var(--line-height-165);
  letter-spacing: var(--letter-spacing-0);
  font-weight: 900;
}

.text-preset-4-bold {
  font-family: "RedHat", sans-serif;
  font-size: 15px;
  line-height: var(--line-height-165);
  letter-spacing: var(--letter-spacing-0);
  font-weight: 700;
}

.text-preset-4-medium {
  font-family: "RedHat", sans-serif;
  font-size: 15px;
  line-height: var(--line-height-165);
  letter-spacing: var(--letter-spacing-0);
  font-weight: 500;
}
